<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>posts</key>
	<array>
		<dict>
			<key>riderName</key>
			<string>Colton Brockbank</string>
			<key>trickTitle</key>
			<string>BS 540</string>
			<key>locationName</key>
			<string>ROCKPORT STATE PARK</string>
			<key>wasDoubleUp</key>
			<true/>
			<key>photoFile</key>
			<string>trickPhoto.png</string>
			<key>avatarFile</key>
			<string>Avatar-Home-3.png</string>
			<key>vouchers</key>
			<array>
				<string>bsimkins</string>
				<string>cublowder</string>
				<string>czeluff</string>
			</array>
			<key>comments</key>
			<array>
				<dict>
					<key>commentor</key>
					<string>bsimkins</string>
					<key>comment</key>
					<string>dude you are my hero.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>riderName</key>
			<string>Jake Lowder</string>
			<key>trickTitle</key>
			<string>Switch Tantrum to blind</string>
			<key>locationName</key>
			<string>LAKE POWELL</string>
			<key>wasDoubleUp</key>
			<true/>
			<key>avatarFile</key>
			<string>Avatar-Home.png</string>
			<key>vouchers</key>
			<array>
				<string>cole wads</string>
				<string>czeluff</string>
			</array>
			<key>comments</key>
			<array>
				<dict>
					<key>commentor</key>
					<string>Awally</string>
					<key>comment</key>
					<string>Jake you are the sickest cat I know.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>riderName</key>
			<string>Cole Wadsworth</string>
			<key>trickTitle</key>
			<string>Switch Tantrum to blind</string>
			<key>locationName</key>
			<string>LAKE POWELL</string>
			<key>wasDoubleUp</key>
			<true/>
			<key>avatarFile</key>
			<string>Avatar-Home-2.png</string>
			<key>vouchers</key>
			<array>
				<string>bsimkins</string>
			</array>
			<key>comments</key>
			<array>
				<dict>
					<key>commentor</key>
					<string>czeluff</string>
					<key>comment</key>
					<string>so buttery</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
